.prd{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}
.pds{
     margin: 20px;
     padding: 2px;
}
.right{
    margin: 3vmin;
}

.dis{
    font-size: 1em;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.579);

}
.discount{
    color: rgb(255, 0, 0);
}
.tax{
    color: green;
    font-size: 15px
}
.size{
    font-size: 1.3rem;
    

}
.chart{
 font-size: 18px;
 margin-left: 20px;
 color: rgb(255, 0, 0);
}
.btn{
    display: flex;
    
}
.sbtn{
    margin: 10px;
    height: 7vh;
    width: 7vh;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
}
.add{
    margin: 1px;
   
}
.bag, .save{
    margin: 10px;
    padding: 5px;
    height: 5vh;
    width: 20vh;
    border: none;
    border-radius: 15px;
}
.bag{
    background-color: rgb(247, 243, 21);
    cursor: pointer;
}
.save{
    background-color: rgb(255, 158, 1);
    cursor: pointer;
}
.para{
    font-size: 15px;
}
.nd{
    display: flex;
    margin: 4px;
    height: 10vh;
    width: 8vh;

}
.n{
    display: flex;
    margin: 4px;
    height: 10vh;
    width: 8vh;
 
}