*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.nav{
    height: 60px;
    background-color: #131a22;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
    cursor: pointer;
}

.border{
    border: 1.5px solid transparent;
    cursor: pointer ;
}
.border:hover{
    border: 1.5px solid white;
}

.address{
    color: white;
}

.first{
color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;
}

.second{
margin-left: 3px;
}

.icon{
    display: flex;
}

.search{
    display: flex;
    height: 30px;
    width: 620px;
    border-radius: 4px;
    justify-content: space-evenly;
    cursor: pointer;
}

.search:hover{
    border: 2px solid orange;

}

.lang{
    border: none;
}

.options{
    background-color: #f3f3f3;
    width: 40px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
}

.box{
    width: 100%;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(250, 171, 25);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.sign{
    color: aliceblue;
}

.return{
    color: aliceblue;
}

.cart{
    display: flex;
}

.cart i{
    font-size: 20px;
    color: aliceblue;
}

.txt{
    color: aliceblue;
    text-align: center;
}

.pannel{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
}

.opt p{
    display: inline;
    margin-left: 10px;
}

.opt{
    width: 75%;
}
.main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.img{
 margin: 20px;
 padding: 10px;

 color: black;


}
.s{
border: none;

display: flex;
justify-content: center;
height: 34vmin;
width: 25vmin;
}
.price{
    text-decoration: line-through;
    font-size: 2.5vmin;
}
.dprice{
    
    margin-bottom: 0.5em;
    padding: 0.2em;
    font-size: 3vmin;
} 
.add-to-cart {
    padding: 0.5em 1em;
    font-size: 2vmin; /* Adjusted font size */
}
.clth{
    margin-top: 1em;
    font-size: 1.4vw;
    padding: 0.2em;
}

